build
.gradle
run
libs/

LICENSE.txt
CREDITS.txt
README.txt
changelog.txt
forge*changelog.txt

out
.idea
*.ipr
*.iws
*.iml

bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

.vscode
.fleet

*.log
crash-reports

.DS_Store
Thumbs.db
